.members_title{
	text-align: center!important;
	margin-top: 10px;
	margin-bottom: 30px;
}

.centered{
	margin: 0 auto;
	padding: 0 1em;
}

.memberImage{
	width: 220px;
	height: 100%;
}

.info{
	padding: 0 10px 10px 10px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.info > h1 {
	color:#007bff;
}


@media screen and (min-width: 100em) {
	.members{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: -1em;
		margin-left: 8%;
		margin-right: 8%;
		justify-content: space-around;
	}
	.member{
		display: flex;
		border-radius: 0.375rem;
		border-style: solid;
		border-width: 1px;
		margin-bottom: 1em;
		flex: 0 1 46%;
	}
}

@media screen and (min-width: 60em) and (max-width: 100em) {
	.members{
		display: flex;
		flex-wrap: wrap;
		margin-top: -1em;
	}
	.member{
		display: flex;
		border-radius: 0.375rem;
		border-style: solid;
		border-width: 1px;
		margin-bottom: 1em;
		max-width: 80%;
		margin-left: 10%;
	}
}


@media screen and (max-width: 59.9em) {
	.members{
		display: flex;
		flex-direction: column;
	}

	.member{
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0.375rem;
		border-style: solid;
		border-width: 1px;
		margin-bottom: 1em;
		max-width: 80%;
		margin-left: 10%;
	}
}