// login screen
#main-content #portlet_com_liferay_login_web_portlet_LoginPortlet{
  width: 26%;
  left: 37%;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  margin-top: 2%;
}

.portlet-layout{
  width: 100%;
}
#portlet_com_liferay_login_web_portlet_LoginPortlet .button-holder{
  display:flex;
  justify-content: center;
}

.mycontainer{
  max-width: 100%;
  padding: 0;
  display: contents;
}

#content{

}
#wrapper{
  max-width: 100%;
  min-height: 85vh;
  padding: 0;
}

#mynavigation{
  background:#212529 !important;
  max-width: 100% !important;
  flex-wrap: nowrap !important;
  height: 100px;
  color:whitesmoke;
  align-items: center !important;
}

@media screen and (min-width:800px) and (max-width: 1300px) {
  #siteName{
    font-size: large !important;
  }
}

@media screen and (max-width:800px) {
  #sign-in{
    display:none;
  }
  #mynavigation{
    background:#212529 !important;
    max-width: 100% !important;
    color:whitesmoke;
    align-items: center !important;
  }
  #navbarResponsive{
    width: 100%;
    display:flex !important;
  }
  .navbar-nav{
    display: flex;
    flex-wrap: inherit;
    list-style: outside;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-around;
  }
  .nav-item{
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  #siteName{
    display: none;
  }
}
.myNavSelected{
  border-bottom: 2px solid #00a2ea !important;
}
.mynav-link{
  color:whitesmoke !important;
}
.n-item{
  color:whitesmoke !important;
  position: relative;
  width: auto;
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 2px solid transparent;
}
.n-item:hover{
  border-color: #00a2ea;
  color:whitesmoke !important;
}

#siteName{
  color:white;
  font-size: xx-large;
}


// footer
.footer-dark {
  height: 15vh;
  width: 100%;
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}
footer .row{
  justify-content: center;
  text-align: center;
}
.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media screen and (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

#_com_liferay_blogs_web_portlet_BlogsPortlet_fm1{
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:5%;
  background: #43485b;
  color: white;
}
#_com_liferay_blogs_web_portlet_BlogsPortlet_fm1.title{
  border-bottom: 1px solid ;
}
#_com_liferay_blogs_web_portlet_BlogsPortlet_fm1.autofit-row{
  border-bottom: 1px solid #ffb133;
  margin-bottom: 2%;
}
#_com_liferay_blogs_web_portlet_BlogsPortlet_fm1 > .autofit-row.autofit-float-end.autofit-row-center.widget-toolbar{
  border-top: 1px solid grey;
}

@media screen and (max-width: 1600px) {
  .container-fluid.p-0 > .row.align-items-lg-start.align-items-sm-start.align-items-start.align-items-md-start.flex-lg-row.flex-sm-row.flex-row.flex-md-row{
    flex-direction: column !important;
    display:flex;
    max-width: 100%;
  }

  .container-fluid.p-0 > .row.align-items-lg-start.align-items-sm-start.align-items-start.align-items-md-start.flex-lg-row.flex-sm-row.flex-row.flex-md-row > div {
    width: 100%;
    justify-content: center;
    display: flex;
    max-width: 100%;
  }

  .container-fluid.p-0 div > .mb-lg-0.ml-lg-0.mr-lg-0.mt-lg-0.pb-lg-0.pl-lg-0.pr-lg-0.pt-lg-0{
    width:100% !important;
    height: auto !important;
  }
  #fragment-0-tifw > div > img{
    min-height: 350px;
    min-width: 350px;
    width: 100%;
    height: auto;
  }

  .container-fluid.p-0 >div >div > div >div{
    max-width: 100% !important;
  }
}