
.addButton > a {
	color:white;
}
.addButton > a:hover{
	color:white;
}


.title-wrapper{
	display:flex;
	flex-direction: column;
}
.greenborder{
	border-color: #3ecc68;
}
.redborder{
	border-color: #c83349;
}
.partners-title{
	margin-right: auto !important;
}
.partner-item{
	margin-top: 10px;
}
#partner-rows{
	display:flex;
	flex-direction: column;
}
.buttons-wrapper{
	display:flex;
	justify-content: flex-end;
}

.plus{
	border:none;
	display:inline-block;
	width:35px;
	height:35px;
	background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff), #007bff;
	background-position:center;
	background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
	background-repeat:no-repeat;
}
.minus{
	margin-left:4px;
	display:inline-block;
	width:35px;
	height:35px;
	border:none;
	background-size: 50% 2px,0 50%; /*thickness = 2px, length = 50% (25px)*/
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(#fff, #fff);
	background-color: #007bff;
}

.row-fields{
	display: flex;
}
.new_project_wrapper{
	max-width: 32%;
	margin: 3% 34%;
	border: 1px solid #888888;
	padding: 20px;
	border-radius: 10px;
}


.project_wrapper{
	display:flex;
	flex-direction: row;
	border-bottom: 1px solid #ccc;
	justify-content: space-between;
}

.homepage_img_wrapper{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.addbutton{
	font-size: 10px;
	background-color:#008CBA;
	color:white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border:none;
}

.projectsPrtl {
}

.doc_icon{
	float:right;
	padding-left:5px;
	padding-right: 5px;
}

.projecttitle_zkratka {
	width: 100%;
	border-top-right-radius: 3em;
	border-bottom-right-radius: 3em;
	margin:auto;
	font-family: Verdana, sans-serif;
	text-align: center;
	letter-spacing: 2px;
	color: white;
}
.projecttitle_zkratka:hover{
	text-decoration: underline;
	color:white;
}
.projecttitle_zkratka > a {
	font-size: 1.3rem;
	color:white;
}

.projectcontent {
	margin-top: 0;
	width: 90%;
	left:3% ;
	padding: 2%;
	margin-bottom: 1%;
	margin-left: 1%;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow: 0 1px 3px #888888;
}

.projecttitle{
	padding:1%;
	font-size:15px;
	border-bottom:1px solid #85144b;
}

.image {
	width:30px;
	padding:1%;
}

.info {
	display: flex;
	margin-top: 1em;
	justify-content:space-between;
}

.partners{
	text-align: left;
}
.projectitem:nth-child(6n+0) .projecttitle_zkratka{
	background: #fcbd32;
}
.projectitem:nth-child(6n+1) .projecttitle_zkratka{
	background: #3ecc68;
}
.projectitem:nth-child(6n+2) .projecttitle_zkratka{
	background: #c83349;
}
.projectitem:nth-child(6n+3) .projecttitle_zkratka{
	background:#42113C;
}
.projectitem:nth-child(6n+4) .projecttitle_zkratka{
	background:#4281A4;
}
.projectitem:nth-child(6n+5) .projecttitle_zkratka{
	//background: #87E752;
	background:#9e59e4;
}
.title_projects{
	width: 10%;
	left: 45%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
}


input.chk-btn {
	display: none;
}
input.chk-btn + label {
	border: 2px solid thistle;
	background: ghostwhite;
	padding: 5px 8px;
	cursor: pointer;
	border-radius: 5px;
}
input.chk-btn:not(:checked) + label:hover {
	box-shadow: 0 1px 3px;
}
input.chk-btn + label:active,

input.chk-btn:checked + label {
	border: 2px solid #20bf6b;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.projects_subtitle{
	font-size: 18px;
	border-bottom:1px solid #85144b;
}

.partner_container{
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.projects_header_title{
	justify-content: center;
	display: flex;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.partner_item{
	margin-right: 5px;
}

@media screen and (min-width: 80em) {
	.projectscontainer {
		display: flex;
		flex-wrap: wrap;
		max-width: 88%;
		margin-left: 6%;
		margin-right: 6%;
	}

	.projectitem {
		text-align: center;
		overflow: hidden;
		width: 100%;
		display: inline-block;
		margin-left: 2% ;
		margin-right: 2% ;
		flex-basis: 29%;
		margin-bottom: 3%;
	}
	.addButton{
		float: right;
		margin-right: 5px;
	}
}

@media screen and (min-width: 60em) and (max-width: 79.9em) {
	.projectscontainer {
		display: flex;
		flex-wrap: wrap;
		max-width: 88%;
		margin-left: 6%;
		margin-right: 6%;
	}

	.projectitem {
		text-align: center;
		overflow: hidden;
		width: 100%;
		display: inline-block;
		margin-left: 2% ;
		margin-right: 2% ;
		flex-basis: 40%;
		margin-bottom: 3%;
	}
	.addButton{
		float: right;
		margin-right: 5px;
	}
	//.addButton{
	//	max-width: 50%;
	//	left: 25%;
	//	position: relative;
	//	margin-bottom: 3%;
	//	display: flex;
	//	justify-content: center;
	//}
}


@media screen and (max-width: 59.9em) {
	.projectscontainer {
		display: flex;
		flex-wrap: wrap;
		max-width: 88%;
		margin-left: 6%;
		margin-right: 6%;
	}

	.projectitem {
		text-align: center;
		overflow: hidden;
		width: 100%;
		display: inline-block;
		margin-bottom: 3%;
	}
	.addButton{
		max-width: 50%;
		left: 25%;
		position: relative;
		margin-bottom: 3%;
		display: flex;
		justify-content: center;
	}
	.control_buttons{
		display:flex;
		flex-direction: column;
		margin-bottom: 1em;
	}
}
