<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="item">
                <ul>
                    <li><a href="#">Dept. of Computer Science, FEE, CTU in Prague</a></li>
                    <li><a href="#">Karlovo náměstí 13, 121 35 Praha 2</a></li>
                    <li><a href="#"> Copyright © 2021</a></li>
                </ul>
            </div>
    </div>
        </div>
</footer>
